<div class="container">
    <article>
        <header><strong>About</strong></header>
        Hello! <br> My name is Saifo Aleslam Kamal Hassan, FullStack Developer. <br>
        Bechalor Degree in computer science, National Ribat University(2021). <br>
    </article>
    <div class="grid">
        <article>
            <header><strong>Web Skills</strong></header>
            <label for="html5">
                HTML5
                <progress value="90" max="100" id="html5"></progress>
            </label>
            <label for="css">
                CSS
                <progress value="84" max="100" id="css"></progress>
            </label>
            <label for="javascripts">
                javascripts
                <progress value="79" max="100" id="javascripts"></progress>
            </label>
            <label for="Express">
                Express.js
                <progress value="86" max="100" id="Express"></progress>
            </label>
            <label for="node">
                Node.js
                <progress value="75" max="100" id="node"></progress>
            </label>
        </article>
        <article>
            <header><strong>Mobile Skills</strong></header>
            <label for="html5">
                HTML5
                <progress value="90" max="100" id="html5"></progress>
            </label>
            <label for="css">
                CSS
                <progress value="84" max="100" id="css"></progress>
            </label>
            <label for="javascripts">
                javascripts
                <progress value="79" max="100" id="javascripts"></progress>
            </label>
            <label for="Express">
                Express.js
                <progress value="86" max="100" id="Express"></progress>
            </label>
            <label for="node">
                Node.js
                <progress value="75" max="100" id="node"></progress>
            </label>
        </article>
    </div>
</div>