<div class="container width-50" >
    <form action="signin" method="post">
        <h2>Signin</h2>
        {{#each messages}}
        <div class="bar error">

            {{this}}

        </div>

        {{/each}}
        <h6>Please Login To Get All Features</h6>
        <div class="">
            <label for="firstname">
                User name
                <input type="text" id="firstname" name="username" placeholder="First name"  />
            </label>
            <label for="lastname">
                Password
                <input type="password" id="lastname" name="userpassword" placeholder="Password" >
            </label>
            <input type="hidden" name="_csrf" value="{{token}}">
            <button class="contrast ">Signin</button>
        </div>

    </form>

</div>
