<div class="container mt-5" >
    <form action="signin" method="post">
        <h2 class="text-center">Signin</h2>
        {{#if messages}}
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {{#each messages}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" name="username" id="colFormLabelSm"
                    placeholder="enter your email">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">Password</label>
                <input type="password" class="form-control form-control-sm" name="userpassword" id="colFormLabelSm"
                    placeholder="enter your password">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-5 text-center">
                <input type="hidden" name="_csrf" value="{{token}}">
                <div class="d-grid gap-2">
                    <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Signin</button>
                </div>
            </div>
        </div>

    </form>
</div>
