<div class="container mt-5" >
    <form action="signup" method="post">
        <h2 class="text-center">Signup</h2>
        {{#if messages}}
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-6">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {{#each messages}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">user name</label>
                <input type="text" class="form-control form-control-sm" name="firstname" id="colFormLabelSm"
                    placeholder="enter your name">
            </div>
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">user phone</label>
                <input type="text" class="form-control form-control-sm" name="userphone" id="colFormLabelSm"
                    placeholder="enter your phone">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-4">
                <label for="formGroupExampleInput" class="form-label">user email</label>
                <input type="email" class="form-control form-control-sm" name="useremail" id="colFormLabelSm"
                    placeholder="enter your email">
            </div>
            <div class="col-sm-3">
                <label for="formGroupExampleInput" class="form-label">user address</label>
                <input type="text" class="form-control form-control-sm" name="useraddress" id="colFormLabelSm"
                    placeholder="enter your address">
            </div>
            <div class="col-sm-3 align-items-center">
                <label for="formGroupExampleInput" class="form-label">Gender</label>
                <select class="form-select form-select-sm" aria-label="Default select example" name="usergender" required>  
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">password</label>
                <input type="password" class="form-control form-control-sm" name="userpass" id="colFormLabelSm"
                    placeholder="enter your password">
            </div>
            <div class="col-sm-5">
                <label for="formGroupExampleInput" class="form-label">confirm password</label>
                <input type="password" class="form-control form-control-sm" name="userrepass" id="colFormLabelSm"
                    placeholder="enter your password">
            </div>
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-sm-10 text-center">
                <input type="hidden" name="_csrf" value="{{token}}">
                <div class="d-grid gap-2">
                    <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-user-plus"
                            aria-hidden="true"></i> Signup</button>
                </div>
            </div>
        </div>

    </form>
</div>
<script>
    if (document.getElementsByName('messages'){
        alert('ddd')
    })
</script>