@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Roboto&display=swap');

:root {
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}

.text-center {
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.content {
  width: 12%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition:all ease-in 0.4s;
}
.content2 {
  width: 16em;
  height: 16em;
  margin: 15px;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition:all ease-in 0.4s;
}
.content:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform:translatey(3px) ;
  transition: all ease-in-out 0.4s;
}

.gallery .content h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}

.gallery .content a {
  text-decoration: none;
}

.gallery .content img {
  margin: 7px 0;
  height: 95px;
  width: 110px;
  object-fit: contain;
  border: none;
}
 .header{
  width: 100%;
  height: 40px;
  background-color: rgb(13,202,240);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 5px;
  color: #32383e;
  font-size: 18px;
}

.gallery .content p {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #222f3e;
}

.gallery .content h6 {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #222f3e;
  margin: 5px 0;
  color: #00897b;
  border-left: 2px solid;
  border-right: 2px solid;
}

.gallery .content .button {
  position: fixed;
  background-color: #206ba3;
  text-align: center;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-bottom: auto;
  bottom: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.gallery .content button:hover {
  opacity: 0.8;
}



.imageTable {

  max-width: 40%;
  max-height: 120px;
  text-align: center;
  margin: 5px auto;
  display: block;

}

.table {
  margin: auto;
  border-spacing: 1px;
  width: 100%;
}

.table td,
.table th {
  padding: .35em;
  vertical-align: top;
  text-align: center;
  border: 1px solid var(--border);
  font-family: 'PT Sans', sans-serif;
  font-size: .7em;
  font-weight: bold;
}



.table td>a.btn {

  padding: .3em;
  font-size: .7em;
  margin: 0.2em;
}

/*.table tr:hover{
    background-color: #3b9bff;
    transition: all .5s ease;
  }*/
.table tr:hover td>a {
  box-shadow: none;
}

.thead-dark th {
  color: #fff;
  background-color: #206ba3;
  border: #32383e;
}

.disabled-link {
  pointer-events: none;
  opacity: .5;
}

@media screen and (max-width:1400px) {
  .content {
    width: 20%;
  }
}

@media screen and (max-width:1200px) {
  .content {
    width: 25%;
  }
  
}

@media screen and (max-width:1000px) {
  .content {
    width: 35%;
  }
  .gallery .content img {
    height: 75px;
    width: 90px;
  }
}

@media screen and (max-width:768px) {
  .content {
    width: 90%;
  }
  .gallery .content img {
    height: 65px;
    width: 80px;
  }
}

@media only screen and (max-width:1024px) {

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}







