@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.container {
    
    padding-top: 70px;
}

.scroll-nav{
    top:0;
    color: white;
    position: fixed;
    display: inline-flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2986CC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 70px;
    padding: 10px;
    transition: all .5s ease-in-out;
}
.scroll-nav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
}
.scroll-nav a:before,
.scroll-nav a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #fff;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}
.scroll-nav a:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.scroll-nav a:hover:before,
.scroll-nav a:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.nav-bar {
    top:0;
    color: white;
    position: fixed;
    display: inline-flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 70px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.nav-bar a {
    position: relative;
    text-decoration: none;
    color: #2986CC;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
}

.nav-bar a:before,
.nav-bar a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #2986CC;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.nav-bar a:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.nav-bar a:hover:before,
.nav-bar a:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2986CC;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.8s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    position: relative;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f0094a;
}

.sidenav a:before,
.sidenav a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.sidenav a:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.sidenav a:hover:before,
.sidenav a:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin: 10px;
    width: auto;
    padding: 2px 12px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.6s ease;

}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.custom-btn {
    width: auto;
    padding: 10px 12px;
    color: #fff;
    border-radius: 3px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.6s ease;
    position: relative;
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, .5);
    outline: none;
}

.btn-5 {
    border: none;
    background: #2986CC;
}

.btn-5:hover {
    color: #2986CC;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #2986CC;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.card {
    padding: 5px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
    max-width: 220px;
    margin: .8em;
    text-align: center;
    border-radius: 3px;
}

.title {
    color: grey;
    font-size: 18px;
}

.button {
    border-radius: 3px;
    display: inline-block;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background: #2986CC;
    width: 100px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    transition: all 0.8s ease;
}

.button:hover {
    color: #2986CC;
    background-color: #fff;
}

.button:before,
.button:after {

    content: "";
    left: 0;
    bottom: 0;
    background: #2986CC;
    transition: all 0.6s ease;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #2986CC;
}

/* Scroll menu */
div.scrollmenu {
    display: inline-block;
    border-radius: 3px;
    overflow: auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
}

div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    width: 160px;
    padding: 3px;
}

div.scrollmenu a:hover {
    background-color: #777;
}


div.scrollmenu img {
    max-width: 140px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
}
